
/* - - - DEBUG - - - */

  /* Borders */

    .debug header, .debug main, .debug footer {
      border: 3px solid red;
    }

    .debug section {
      border: 2px dashed black;
    }

    .debug .container {
      border: 1px solid rgb(19, 163, 67);
    }

    .debug .container > * {
      border: 1px solid black;
    }

    .debug [class^="col-"] {
      border: 2px dotted blue;
    }


  /* Backgrounds */

    .debug-bgc header, .debug-bgc main, .debug-bgc footer {
      background-color: #B2EA70;
    }

    .debug-bgc section {
      background-color: #FBD148;
    }

    .debug-bgc [class^="container"] {
      background-color: #F9975D;
    }

    .debug-bgc [class^="container"] > div {
      background-color: #C85C5C;
    }

    .debug-bgc [class^="container"] .col {
      background-color: rgb(212, 95, 203);
    }

    .debug-bgc [class^="container"] > div > * {
      background-color: #5584AC;
    }
    

  /* Spacing */

    body.debug-spacing {
      padding: 30px;
    }

    .debug-spacing header, .debug-spacing main, .debug-spacing footer {
      min-height: 50px;
      padding: 30px;
      margin-bottom: 30px;
    }

    .debug-spacing footer {
      margin-bottom: 0;
    }

    .debug-spacing section {
      padding: 30px;
      margin-bottom: 30px;
    }

    .debug-spacing section:last-child {
      margin-bottom: 0;
    }

    .debug-spacing [class^="container"] {
      padding: 30px;
      margin-bottom: 30px;
    }

    .debug-spacing [class^="container"]:last-child {
      margin-bottom: 0;
    }
    
    .debug-spacing header [class^="container"] {
      min-height: 30px;
    }

    .debug-spacing .row {
      padding: 30px;
      margin-bottom: 30px;
    }

    .debug-spacing .row:last-of-type {
      margin-bottom: 0;
    }

    .debug-spacing [class^="col-"] {
      min-height: 50px;
    }