@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container-fluid {
    width: 100%;
}

.container-lg {
    max-width: 1152px;
}

.container-sm {
    max-width: 864px;
}

.button {
    padding: 5px 15px;
    background-color: #0061FF;
    color: white;
    font-weight: 500;
}

.button:hover {
    background-color: red;
}


/* - - - HEADER - - - */

header .row {
    padding: 15px 20px;
}

header .nav-list {
    list-style: none;
}

header .col-6:first-of-type .nav-list {
    width: calc(100% - 170px);
}

header .nav-element {
    float: left;
    line-height: 25px;
}

header .logo img {
    display: block;
}

header .logo, .nav-list {
    float: left;
}

header .logo, .nav-element a{
    margin-right: 30px;
}

header .nav-element a:not(.button) {
    padding: 2px 5px;
}

header .nav-element:last-of-type a {
    margin-right: 0;
}

header .col-6:last-of-type .nav-list {
    float: right;
    text-align: right;
}

header .nav-element:hover {
    color: red;
}


/* - - - MAIN - - - */

    /* Jumbotron */

.jumbotron {
    min-height: 500px;
    background-color: #B4D0E7;
    padding-top: 80px;
    margin-bottom: 80px;
}

.jumbotron h1 {
    font-size: calc(28px + 2rem);
    margin-bottom: 30px;
}

.jumbotron p {
    margin-bottom: 30px;
}

.jumbotron .cta .button {
    margin-bottom: 10px;
    display: inline-block;
}

.jumbotron .cta p {
    font-size: 0.85rem;
}

.jumbotron .col-8 {
    overflow: visible;
    height: 370px;
}

.jumbotron .col-8 img {
    width: 100%;
}

    /* Business plans */

#business-plans {
    min-height: 500px;
    /* background-color: #c8e79f; */
    padding-top: 80px;
    margin-bottom: 80px;
}

h2 {
    font-size: calc(14px + 1rem);
    margin-bottom: 40px;
}

label {
    margin-right: 10px;
}

input [type="radio"] {
    /* cambiare tipo aspetto button */
}

.row.title {
    margin-bottom: 30px;
}

.card-wrapper .col-4 {
    width: calc((100% - 20px - 20px) * 4 / 12);
    margin-right: 20px;
    /* background-color: red; */
}

.card-wrapper .col-4:last-of-type {
    margin-right: 0;
}

.card-header {
    text-align: center;
    line-height: 30px;
    background-color: white;
    border-bottom: 2px solid #DBDBDB;
    padding: 3px;
}

.card-body span {
    display: block;
}

.card-list {
    list-style: none;
}

.card-element i {
    padding-right: 5px;
}

.card-body::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #DBDBDB;
}

.card {
    border: 2px solid #DBDBDB;
    min-height: 800px;
}

.card-body {
    padding: 20px 30px 0 30px;
}

.card-body .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-price {
    font-weight: bold;
    margin-bottom: 15px;
}

.card-info {
    color: gray;
    margin-bottom: 40px;
    font-size: 0.8rem;
}

.card-body .card-element {
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.card-body .card-list {
    margin-bottom: 40px;
}

.card .cta .button {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.card p {
    font-size: 0.9rem;
}

.card p a {
    color: #0061FF;
    text-decoration: underline;
}

.card p a:hover {
    color: red;
}

.card .cta {
    margin-bottom: 30px;
}

.card-footer .card-title {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card-footer {
    padding: 30px 30px 0 30px;
}

/* ricontrollare codice */

.card-footer .card-element {
    margin-bottom: 15px;
    font-size: 0.8rem;
    line-height: 1.1rem;

    /* Corretto? */
    padding-left: 1rem;
    text-indent: -1rem;
}

.card-footer .card-element::before {
    content: "\2713";
    padding-right: 5px;
    font-weight: bolder;
    font-size: 1.1rem;
    color: #0061FF;
}

.card-footer .card-list {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 30px;
}
